.Python_Heading{
    font-size:39px;
    padding-left:300px;
    margin-block-start:0;
    margin-block-end:0;
    position:relative;
    top:10px;
    right:30px;
    font-weight:500;
    }

    .Python_para{
    font-size:20px;
    margin-block-start:0;
    margin-block-end:0;
    position:relative;
    top:21px;

    }
    .Python_para1{
    font-size:21px;
    font-weight:400;
    margin-block-start:0;
    margin-block-end:0;
    }
    .Course{
    padding-left:300px;
    position:relative;
    bottom:10px;
    }
    .Course_para_section{
    position:relative;
    bottom:20px;
    width:600px;
    left:71px;
    margin-block-start:0;
    margin-block-end:0;
    }
    .PythonCourse_2{
    padding-left:300px;
    font-size:36px;
    font-weight:400;
    position:relative;
    top:70px;
    right:37px;
    color:black;
    margin-block-start:0;
    margin-block-end:0;
    }
    .PythonCourse3{
    padding-left:300px;
    position:relative;
    top:100px;
    right:40px;
    margin-block-start:0;
    margin-block-end:0;
    }
    .PythonCourse4{
    font-weight:500;
    font-size:20px;
    margin-block-start:0;
    margin-block-end:0;
    }
    .PythonCourse5{
    font-weight:400;
    font-size:20px;
    margin-block-start:0;
    margin-block-end:0;
    position:relative;
    top:20px;
    }
    .PythonCourse6{
    width:400px;
    position:relative;
    left:70px;
    margin-block-start:0;
    margin-block-end:0;
    }
    .PythonCurriculam{
    padding-left:500px;
    font-size:34px;
    font-weight:400;
    position:relative;
    top:125px;
    }
    .course_curriculam{
    margin-top:58px;
    }
    .PythonCurriculam_Heading{
    padding-left:500px;
    font-weight:400;
    position:relative;
    top:109px;
    left:3px;
    font-size:26px;
    }
    .PythonCurriculam_para1{
    border:2px solid black;
    font-size:17px;
    font-weight:700;
    padding-top:10px;
    height:30px;
    border-radius:5px;
    width:660px;
    margin-left:310px;
    position:relative;
    top:10px;
    padding-left:30px;
    margin-block-start:0;
    margin-block-end:0;
    }
   
    
    .PythonCurriculam_para2{
    border:2px solid black;  
    font-size:17px;
    font-weight:700;
    height:30px;
    border-radius:5px;
    padding-top:6px;
    width:660px;
    margin-left:310px;
    position:relative;
    top:13px;
    padding-left:30px;
    margin-block-start:0;
    margin-block-end:0;
    }
    
.PythonCurriculam_para3{
    border:2px solid black; 
    font-size:17px; 
    font-weight:700;
    height:30px;
    border-radius:5px;
    padding-top:6px;
    width:660px;
    margin-left:310px;
    position:relative;
    top:16px;
    padding-left:30px;
    margin-block-start:0;
    margin-block-end:0;
    }
    
    .PythonCurriculam_para4{
    border:2px solid black;  
    font-size:17px;
    font-weight:700;
    height:30px;
    border-radius:5px;
    padding-top:6px;
    width:660px;
    margin-left:310px;
    position:relative;
    top:18px;
    padding-left:30px;
    margin-block-start:0;
    margin-block-end:0;
    }
    
    .PythonCurriculam_para5{
    border:2px solid black; 
    font-size:17px; 
    font-weight:700;
    height:30px;
    border-radius:5px;
    padding-top:6px;
    width:660px;
    margin-left:310px;
    position:relative;
    top:22px;
    padding-left:30px;
    margin-block-start:0;
    margin-block-end:0;
    }

    .PythonCurriculam_para6{
    border:2px solid black;  
    font-size:17px;
    font-weight:700;
    height:30px;
    border-radius:5px;
    padding-top:6px;
    width:660px;
    margin-left:310px;
    position:relative;
    top:25px;
    padding-left:30px;
    margin-block-start:0;
    margin-block-end:0;
    }
    .PythonCurriculam_para7{
    border:2px solid black;  
    font-size:17px;
    font-weight:700;
    height:30px;
    border-radius:5px;
    padding-top:6px;
    width:660px;
    margin-left:310px;
    position:relative;
    top:28px;
    padding-left:30px;
    margin-block-start:0;
    margin-block-end:0;
    }     
    .PythonCurriculam_para8{
    border:2px solid black;  
    font-size:17px;
    font-weight:700;
    height:30px;
    border-radius:5px;
    padding-top:6px;
    width:660px;
    margin-left:310px;
    position:relative;
    top:31px;
    padding-left:30px;
    margin-block-start:0;
    margin-block-end:0;
    }
    .PythonCurriculam_para9{
    border:2px solid black;  
    font-size:17px;
    font-weight:700;
    height:30px;
    border-radius:5px;
    padding-top:6px;
    width:660px;
    margin-left:310px;
    position:relative;
    top:37px;
    padding-left:30px;
    margin-block-start:0;
    margin-block-end:0;
    }
    .PythonCurriculam_para10{
    border:2px solid black;  
    font-size:17px;
    font-weight:700;
    height:30px;
    border-radius:5px;
    padding-top:6px;
    width:660px;
    margin-left:310px;
    position:relative;
    top:40px;
    padding-left:30px;
    margin-block-start:0;
    margin-block-end:0;
    }  
    .PythonCurriculam_para11{
     border:2px solid rgb(2, 1, 1);  
     font-size:17px;
     font-weight:700;
     height:30px;
     border-radius:5px;
     padding-top:6px;
     width:660px;
     margin-left:310px;
     position:relative;
     top:43px;
     padding-left:30px;
     margin-block-start:0;
     margin-block-end:0;
     }          
     .PythonMain{
    position:relative;
    top:100px;
     }