.Course_Heading{
font-size:36px;
}
@media(max-width:430px){
.Course_Heading{
position:relative;
right:200px;
width:200px;
}
}
.Course_para{
font-size:18px;
}
.Course_para1{
font-size:20px;
font-weight:400;
}
@media(max-width:430px){
.Course_para1{
    width:200px;
    margin-left:20px;
}
}

.Course{
padding-left:300px;
position:relative;
bottom:10px;
}
@media(max-width:430px){
.Course{
position:relative;
right:220px;
}
}
.Course_para_section{
position:relative;
bottom:20px;
width:600px;
left:71px;
}
@media(max-width:430px){
.Course_para{
position:relative;
right:95px;
width:190px;
color:black;
font-weight:500;
}
}
.Course2{
padding-left:300px;
font-size:36px;
font-weight:400;
}
.Course3{
padding-left:300px;
position:relative;
top:10px;
}
.Course4{
font-weight:500;
font-size:18px;
}
.Course5{
font-weight:400;
font-size:18px;
}
.Course6{
width:400px;
position:relative;
left:70px;
}
.curriculam{
padding-left:500px;
font-size:34px;
font-weight:400;
}
.course_curriculam{
margin-top:58px;
}
.curriculam_Heading{
padding-left:550px;
font-weight:400;
position:relative;
bottom:15px;
font-size:25px;

}
.curriculam_para1{
border:2px solid black;  
font-size:17px;
font-weight:700;
height:30px;
border-radius:5px;
padding-top:6px;
width:660px;
margin-left:310px;
position:relative;
bottom:25px;
padding-left:30px;
}

.curriculam_para2{
border:2px solid black;  
font-size:17px;
font-weight:700;
height:30px;
border-radius:5px;
padding-top:6px;
width:660px;
margin-left:310px;
position:relative;
bottom:35px;
padding-left:30px;
}

.curriculam_para3{
border:2px solid black; 
font-size:17px; 
font-weight:700;
height:30px;
border-radius:5px;
padding-top:6px;
width:660px;
margin-left:310px;
position:relative;
bottom:44px;
padding-left:30px;
}

.curriculam_para4{
border:2px solid black;  
font-size:17px;
font-weight:700;
height:30px;
border-radius:5px;
padding-top:6px;
width:660px;
margin-left:310px;
position:relative;
bottom:52px;
padding-left:30px;
}

.curriculam_para5{
border:2px solid black; 
font-size:17px; 
font-weight:700;
height:30px;
border-radius:5px;
padding-top:6px;
width:660px;
margin-left:310px;
position:relative;
bottom:60px;
padding-left:30px;
}