.About{
background-color:black;
height:670px;
width:100%;
padding-left:90px;
padding-top:40px;
margin-bottom:0;
margin-top:0px;
border:2px solid red;
}
@media(max-width:430px){
.About{
border:2px solid red;
height:1800px;
}
}

.About1{
color:#fff;
font-size:33px;
font-weight:500;
margin-block-start:0;
margin-block-end:0;
position:relative;
top:35px;

}
@media(max-width:430px){
.About1{
width:370px;
font-size:27px;
position:relative;
top:auto;
bottom:-7px;
right:70px;
font-weight:600;
}
}



.About3{
border: 2px solid hsl(0, 0%, 40%);
color:white;
height:208px;
border-radius:20px;
background-color:#272626;
width:290px;
margin-block-start:0;
margin-inline-end: 0;
}
@media(max-width:430px){
.About3{
width:360px; 
position:relative;
right:80px;
margin-bottom:27px;
}
}








.About2{
display:flex;
position:relative;
top:60px;
width:100%;
}
@media(max-width:780px){
.About2{
flex-wrap:wrap;
}
}


.About-image{
  height:40px;
  width:40px;
  border-radius:20px;
  position:relative;
  left:20px;
  top:10px;
}
.About4{
display:flex;
color:white;
position:relative;
top:60px;
}
@media(max-width:430px){
.About4{
flex-wrap:wrap;
}
}




.About5{
height:150px;
width:510px;
margin:10px;
border-radius:20px;
position:relative;
top:35px;
}
.About6{
border: 2px solid hsl(0, 0%, 40%);
height:207px;
width:247px;
margin-left:26px;
border-radius:20px;
background-color:#272626;
}
@media(max-width:430px){
  .About6{
  width:360px;
  position:relative;
  right:105px;
  height:210px;
  top:19px;
  
  }
}


.About10{
  border: 2px solid hsl(0, 0%, 40%);
  height:207px;
  width:247px;
  margin-left:28px;
  border-radius:20px;
  background-color:#272626;
  position:relative;
  right:5px;
  }
@media(max-width:430px){
  .About10{
      width:360px;
      position:relative;
      right:105px;
      height:210px;
      top:20px;
    
  }
}


.About7{
padding-left:17px;
font-size:20px;
font-weight:500;
margin-block-start:10px;
margin-block-end:10px;
position:relative;
left:6px;
top:30px;
}
@media(max-width:430px){
  .About7{
    font-size:19px;
    position:relative;
    top:6px;
  }
}


.About_para{
padding-left:21px;
font-weight:300;
position:relative;
font-size:16px;
top:40px;
margin-block-start:10px;
margin-block-end:10px;
}
.sign_in{
    background-color:#06f; 
    height:43px;
    width:82px;
    color:white;
    border-radius:12px; 
    font-size:15px;
    border:none;  
}
@media(max-width:430px){
  .sign_in{
  width:85px;
  position:relative;
  right:74px;
  bottom:45px;
  
  }
}


.About8{
font-size:19px;
font-weight:500;
}
@media(max-width:430px){
.About8{
position:relative;
right:70px;
bottom:40px;
}
}