.AboutCourse_Heading{
font-size:39px;
width:800px;
top:5px;
margin-block-start:0;
margin-block-end: 0;
position:relative;
left:270px;
}
@media(max-width:430px){
.AboutCourse_Heading{
position:relative;
left:0;
left:90px;
width:180px;
font-size:37px;
font-weight:500;
}
}





.AboutCourse_para{
font-size:19px;
}
@media(max-width:430px){
.AboutCourse_para{
position:relative;
right:105px;
width:200px;
font-size:20px;
}
}









.AboutCourse_para1{
font-size:21px;
margin-block-start:0;
margin-block-end:0;
position:relative;
top:10px;
color:rgb(87, 84, 84);
}
@media(max-width:430px){
.AboutCourse_para1{
width:270px;
color:rgb(5, 5, 5);
}
}

.Course{
padding-left:300px;
position:relative;
top:26px;
right:27px;
margin-block-start:0;
margin-block-end:0;
}
@media(max-width:430px){
.Course{
position:relative;
right:220px;
}
}
.AboutCourse_para_section{
position:relative;
top:10px;
width:600px;
left:71px;
margin-block-start:0;
margin-block-end:0;
}
@media(max-width:430px){
.Course_para{
position:relative;
right:95px;
width:190px;
color:black;
font-weight:500;
}
}
.AboutCourse2{
padding-left:300px;
font-size:36px;
font-weight:400;
position:relative;
top:85px;
right:33px;
margin-block-start:0;
margin-block-end:0;
}
@media(max-width:430px){
.AboutCourse2{
padding-left:0;
width:220px;
color:rgb(5,5,5);
position:relative;
left:90px;
font-size:37px;
}
}








@media(max-width:430px){
.Course2{
position:relative;
right:210px;
width:240px;
bottom:15px;
}
}
.AboutCourse{
padding-top:50px;
height:100%;
}
@media(max-width:430px){
.AboutCourse{
height:1695px;
}
}
.AboutCourse3{
padding-left:300px;
position:relative;
top:130px;
right:35px;
}
.AboutCourse4{
font-weight:500;
font-size:20px;
}
@media(max-width:430px){
.AboutCourse4{
width:250px;
position:relative;
right:190px;
color:rgb(5, 5, 5);
}
}
.AboutCourse5{
font-weight:400;
font-size:20px;
color:rgb(53, 45, 45);
}
@media(max-width:430px){
.AboutCourse5{
position:relative;
right:300px;
width:230px;
font-size:21px;
}
}






.Course6{
width:400px;
position:relative;
left:70px;
}
@media(max-width:430px){
.Course5{
position:relative;
right:320px;
width:240px;
font-size:700;
}
}
.curriculam{
padding-left:520px;
font-size:35px;
font-weight:400;
margin-block-start:0 ;
margin-block-end:0;
}
@media(max-width:430px){
.curriculam{
width:300px;
padding-left:0px;
position:relative;
left:60px;
font-weight:500;
}
}

.courseCurriculam{
position:relative;
top:190px;
margin-block-start:0 ;
margin-block-end:0;
}

.curriculamHeading{
padding-left:550px;
font-weight:700;
position:relative;
top:10px;
font-size:25px;
margin-block-start:0 ;
margin-block-end:0;
}
@media(max-width:430px){
.curriculamHeading{
padding-left:0px;
width:200px;
position:relative;
left:100px;
top:auto;
top:3px;
font-weight:500;
}
}


.curriculam1{
border:2px solid rgb(2, 0, 0);
font-size:18px;
font-weight:600;
height:30px;
border-radius:5px;
padding-top:6px;
width:660px;
margin-left:310px;
position:relative;
top:15px;
padding-left:30px;
margin-block-start:0 ;
margin-block-end:0;
color:rgb(2, 0, 0);
}
@media(max-width:430px){
.curriculam1{
border:2px solid rgb(2, 0, 0);
width:180px;
height:45px;
padding:4px 0px 3px 23px;
position:relative;
right:20px;
color:rgb(2, 0, 0);
display:block;
}

}






@media(max-width:430px){
.curriculam_module{
position:relative;
right:220px;
}
}





.curriculam2{
border:2px solid rgb(2, 0, 0);
font-size:18px;
font-weight:600;
height:30px;
border-radius:5px;
padding-top:6px;
width:660px;
margin-left:310px;
position:relative;
top:18px;
padding-left:30px;
margin-block-start:0 ;
margin-block-end:0;
color:rgb(2, 0, 0);
}
@media(max-width:430px){
.curriculam2{
border:2px solid black;
width:180px;
height:45px;
text-align:center;
font-size:19px;
padding:4px 0px 3px 23px;
position:relative;
right:20px;
display:block;
}   
}






.curriculam3{
border:2px solid rgb(2, 0, 0);
font-size:18px; 
font-weight:600;
height:30px;
border-radius:5px;
padding-top:6px;
width:660px;
margin-left:310px;
position:relative;
top:22px;
padding-left:30px;
margin-block-start:0 ;
margin-block-end:0;
color:rgb(2, 0, 0);
}
@media(max-width:430px){
.curriculam3{
border:2px solid rgb(2, 0, 0);
width:180px;
height:28px;
text-align:center;
font-size:19px;
padding:5px 15px 3px 6px;
position:relative;
right:20px;
color:rgb(2, 0, 0);
display:block;
}    
}







.curriculam4{
border:2px solid black;  
font-size:18px;
font-weight:600;
height:30px;
border-radius:5px;
padding-top:6px;
width:660px;
margin-left:310px;
position:relative;
top:26px;
padding-left:30px;
margin-block-start:0 ;
margin-block-end:0;
}
@media(max-width:430px){
.curriculam4{
border:2px solid rgb(2, 0, 0);
color:rgb(2, 0, 0);
width:181px;
height:28px;
text-align:center;
font-size:19px;
padding:5px 0px 3px 21px;
position:relative;
right:20px;
display:block
}    
}

.curriculam5{
border:2px solid black;
font-size:18px; 
font-weight:600;
height:30px;
border-radius:5px;
padding-top:6px;
width:660px;
position:relative;
top:30px;
left:310px;
padding-left:30px;
margin-block-start:0 ;
margin-block-end:0;
}
@media(max-width:430px){
.curriculam5{
border:2px solid rgb(2, 0, 0);
width:180px;
height:45px;
padding:4px 0px 3px 23px;
position:relative;
left:auto;
left:290px;
color:rgb(2, 0, 0);
display:block;
}
        
}