.Course_Heading{
    font-size:36px;
    padding-left:300px;
    }
    .Course_para{
    font-size:18px;
    }
    .Course_para1{
    font-size:20px;
    font-weight:400;
    }
    .Course{
    padding-left:300px;
    position:relative;
    bottom:10px;
    }
    .Course_para_section{
    position:relative;
    bottom:20px;
    width:600px;
    left:71px;
    }
    .Course2{
    padding-left:300px;
    font-size:36px;
    font-weight:400;
    }
    .Course3{
    padding-left:300px;
    position:relative;
    top:10px;
    }
    .Course4{
    font-weight:500;
    font-size:18px;
    }
    .Course5{
    font-weight:400;
    font-size:18px;
    }
    .Course6{
    width:400px;
    position:relative;
    left:70px;
    }
    .curriculam{
    padding-left:500px;
    font-size:34px;
    font-weight:400;
    }
    .course_curriculam{
    margin-top:58px;
    }
    .curriculam_Heading{
    padding-left:500px;
    font-weight:400;
    position:relative;
    bottom:15px;
    font-size:25px;
    }
    .curriculam_para1{
    border:2px solid black;  
    font-size:17px;
    font-weight:700;
    height:30px;
    border-radius:5px;
    padding-top:6px;
    width:660px;
    margin-left:310px;
    position:relative;
    bottom:25px;
    padding-left:30px;
    }
    
    .curriculam_para2{
    border:2px solid black;  
    font-size:17px;
    font-weight:700;
    height:30px;
    border-radius:5px;
    padding-top:6px;
    width:660px;
    margin-left:310px;
    position:relative;
    bottom:36px;
    padding-left:30px;
    }
    
    .curriculam_para3{
    border:2px solid black; 
    font-size:17px; 
    font-weight:700;
    height:30px;
    border-radius:5px;
    padding-top:6px;
    width:660px;
    margin-left:310px;
    position:relative;
    bottom:47px;
    padding-left:30px;
    }
    
    .curriculam_para4{
    border:2px solid black;  
    font-size:17px;
    font-weight:700;
    height:30px;
    border-radius:5px;
    padding-top:6px;
    width:660px;
    margin-left:310px;
    position:relative;
    bottom:57px;
    padding-left:30px;
    }
    
    .curriculam_para5{
    border:2px solid black; 
    font-size:17px; 
    font-weight:700;
    height:30px;
    border-radius:5px;
    padding-top:6px;
    width:660px;
    margin-left:310px;
    position:relative;
    bottom:67px;
    padding-left:30px;
    }

    .curriculam_para6{
        border:2px solid black;  
        font-size:17px;
        font-weight:700;
        height:30px;
        border-radius:5px;
        padding-top:6px;
        width:660px;
        margin-left:310px;
        position:relative;
        bottom:77px;
        padding-left:30px;
        }
        .curriculam_para7{
            border:2px solid black;  
            font-size:17px;
            font-weight:700;
            height:30px;
            border-radius:5px;
            padding-top:6px;
            width:660px;
            margin-left:310px;
            position:relative;
            bottom:87px;
            padding-left:30px;
            }     
            .curriculam_para8{
                border:2px solid black;  
                font-size:17px;
                font-weight:700;
                height:30px;
                border-radius:5px;
                padding-top:6px;
                width:660px;
                margin-left:310px;
                position:relative;
                bottom:98px;
                padding-left:30px;
                }
                .curriculam_para9{
                    border:2px solid black;  
                    font-size:17px;
                    font-weight:700;
                    height:30px;
                    border-radius:5px;
                    padding-top:6px;
                    width:660px;
                    margin-left:310px;
                    position:relative;
                    bottom:108px;
                    padding-left:30px;
                    }
                .curriculam_para10{
                    border:2px solid black;  
                    font-size:17px;
                    font-weight:700;
                    height:30px;
                    border-radius:5px;
                    padding-top:6px;
                    width:660px;
                    margin-left:310px;
                    position:relative;
                    bottom:118px;
                    padding-left:30px;
                    }  
                    .curriculam_para11{
                        border:2px solid black;  
                        font-size:17px;
                        font-weight:700;
                        height:30px;
                        border-radius:5px;
                        padding-top:6px;
                        width:660px;
                        margin-left:310px;
                        position:relative;
                        bottom:128px;
                        padding-left:30px;
                        }          