.About{
background-color:black;
height:620px;
padding-left:90px;
padding-top:40px;
margin-bottom:0;
margin-top:0;
}

.About1{
color:#fff;
font-size:32px;
}
@media(max-width:430px){
.About1{
width:350px;
font-size:24px;
position:relative;
right:70px;
bottom:20px;
}
}





@media(max-width:380px){
  .About1{
  position:relative;
  right:63px;
  font-size:22px;
  width:380px;
  bottom:20px;
  }
}

.About3{
border: 2px solid hsl(0, 0%, 40%);
color:white;
height:200px;
width:247px;
margin:11px;
border-radius:20px;
background-color:#272626;
}
@media(max-width:430px){
.About3{
width:370px;
position:relative;
right:75px;
}
}




@media(max-width:380px){
.About3{
width:325px;
position:relative;
right:80px;
bottom:12px;
}
}








.About3:hover{
  transform: scale(1.1); 
  transition: transform 0.3s;
}
.About6:hover{
  transform: scale(1.1); 
  transition: transform 0.3s;
}
.About10:hover{
  transform: scale(1.1); 
  transition: transform 0.3s;
}

.About3{
  transition: transform 0.2s ease;
}
.About2{
display:flex;
}
@media(max-width:700px){
  .About2{
    flex-wrap:wrap;
  }
  .About4{
    flex-wrap:wrap;
  }
  .About3{
   flex-wrap:wrap;
  }
  .About6{
    flex-wrap:wrap;
  }
  .About10{
    flex-wrap:wrap;
  }
  .About{
   height:1720px;
   width:100vw;
  }
  


  }






.About-image{
  height:40px;
  width:40px;
  border-radius:20px;
  position:relative;
  left:20px;
  top:10px;
}
.About4{
display:flex;
color:white;
}
.About5{
height:150px;
width:510px;
margin:10px;
border-radius:20px;
position:relative;
top:35px;
}
.About6{
border: 2px solid hsl(0, 0%, 40%);
height:200px;
width:247px;
margin-left:26px;
border-radius:20px;
background-color:#272626;
}
@media(max-width:430px){
  .About6{
  width:375px;
  position:relative;
  right:94px;
  height:210px;
  top:3px;
  bottom:20px;
  }
}





.About10{
  border: 2px solid hsl(0, 0%, 40%);
  height:200px;
  width:247px;
  margin-left:28px;
  border-radius:20px;
  background-color:#272626;
  position:relative;
  right:5px;
  }
@media(max-width:430px){
  .About10{
      width:375px;
      position:relative;
      right:94px;
      height:210px;
      top:20px;
    
  }
}






.About7{
padding-left:17px;
font-size:18px;
}
@media(max-width:430px){
  .About7{
    font-size:19px;
    position:relative;
    top:6px;
  }
}






.About_para{
padding-left:20px;
position:relative;
bottom:10px;
font-size:14px;
}
.sign_in{
    background-color:#06f; 
    height:43px;
    width:82px;
    color:white;
    border-radius:15px; 
    font-size:15px;
    border:none;  
}
@media(max-width:430px){
  .sign_in{
 width:85px;
  position:relative;
  right:74px;
  bottom:45px;
  }
}




.About8{
font-size:17px;
}
@media(max-width:430px){
.About8{
position:relative;
right:70px;
bottom:40px;
}
}