.DataScience{
background-color:white;
margin-block-start:0 ;
height:1480px;
margin-block-end:0;
width:100%;
}



html, body {
    margin: 0;
    padding: 0; /* Disable scrolling for the entire page */
}
@media(max-width:430px){
.DataScience{
height:100%;
}
}
.Python1{
display:flex;
background-color:#1d232a;
padding-left:70px;
}


@media(max-width:430px){
.Python1{
flex-wrap:wrap;
border:2px solid red;
height:900px;
}
}
.Python2{
height:420px;
width:550px;
}
@media(max-width:430px){
.Python2{
position:relative;
right:60px;
width:300px;

}
}
.Data_Heading{
color:#ffff;
width:300px;
font-size:34px;
font-weight:600;
position:relative;
top:25px;
left:20px;
margin-block-start:0;
margin-block-end:0;
}
.Python5{
height:390px;
width:700px;  
}
.python-image{
height:390px;
width:630px;
border-radius:15px;
position:relative;
top:15px;
}


.Python4{
color:white;
font-size:23px;
width:350px;
position:relative;
left:20px;
font-weight:400;
margin-block-start:0;
margin-block-end:0;
}
.Data1{
color:white;
font-size:23px;
width:350px;
position:relative;
left:20px;
top:50px;
font-weight:400;
margin-block-start:0;
margin-block-end:0;
}
.Data2{
color:white;
font-size:23px;
width:350px;
position:relative;
left:20px;
top:60px;
font-weight:400;
margin-block-start:0;
margin-block-end:0;
}    
.Data3{
color:white;
font-size:23px;
width:400px;
position:relative;
top:70px;;
left:20px;
font-weight:400;
margin-block-start:0;
margin-block-end:0;
 }  
@media(max-width:430px){
.Data3{
width:320px;
}
}
.Data4{
 color:white;
 font-size:23px;
 width:400px;
 position:relative;
 top:75px;
left:20px;
font-weight:400;
margin-block-start:0;
margin-block-end:0;
}        
.Data{
color:white;
font-size:23px;
width:350px;
position:relative;
top:40px;
left:20px;
font-weight:400;
margin-block-start:0;
margin-block-end:0;
}
.Python3{
color:white;
}
#Data_price{
color:#c7c7c7;
width:400px;
font-size:25px;
position:relative;
top:100px;
left:30px;
margin-block-start:0;
margin-block-end:0;
}
.Data_Button{
width:430px;
height:43px;
color:white;
background-color:#225d91;
border-radius:10px;
font-size:15px;
position:relative;
left:17px;  
border:none;
color:black;
font-weight:300;
top:134px;
}
@media(max-width:430px){
.Data_Button{
    width:310px;
    position:relative;
    left:auto;
    left:30px;
}
}
#Slash{   
position:relative;
right:47px;
color:white;
bottom:2px;
}

