.Footer{
background-color:rgb(46, 46, 46);
color:white;
margin-top:0;
margin-bottom:0;
height:110px;
}

.Footer1{
display:flex;
position:relative;
left:535px;
bottom:10px;
}
.Footer2{
background-color:black;
height:50px;
width:55px;
border-radius:60px;
margin-right:11px;
}
.Footer3{
text-align:center;
}
body{
 height:100%;

}
.Footer_Heading{
margin-top:0;
font-size:24px;
font-weight:600px;
}
.Footer_img{
font-size:33px;
position:relative;
left:11px;
top:8px;
}
.Footer_Main{
margin-top:0;
position:relative;
top:8px;
}