.Footer{
background-color:rgb(46, 46, 46);
color:white;
margin-top:0;
margin-bottom:0;
height:110px;
}

@media(max-width:700px){
    .Footer{
      height:100%;
      width:100%;
    }
    .Footer1{
    flex-wrap:wrap;
    }
    body{
    height:100%;
    width:100%;
    }
}

.Footer1{
display:flex;
position:relative;
left:535px;
bottom:10px;
}
@media(max-width:430px){
  .Footer1{
    position:relative;
    left:80px;
    bottom:15px;
  }
}
.Footer2{
background-color:black;
height:50px;
width:55px;
border-radius:60px;
margin-right:11px;
}
@media(max-width:428px){
.Footer2{
position:relative;
right:15px;
}
}






.Footer3{
text-align:center;
}

.Footer_Heading{
margin-top:0;
font-size:24px;
font-weight:600px;
color:white;
}
@media(max-width:428px){
.Footer_Heading{
font-size:22px;
margin-right:25px;
}
}
.Footer_img{
font-size:33px;
position:relative;
left:11px;
top:8px;
}
.Footer_Main{
margin-top:0;
position:relative;
top:8px;
}