.Header{
  background-image:  linear-gradient(
 80deg,
rgb(23, 92, 211),
rgb(30, 28, 73) 40%,
rgb(32, 32, 68) 65%,
 rgb(0, 0, 0)
)
}
.Header1{
height:700px;
margin-bottom:0;
width:100%;
display:flex;
z-index:1000;
position:sticky;
top:20px;
}
.Header2{
width:720px;
margin-right:10px;
margin-block-start:0;
margin-block-end: 0;
padding-top:125px;
padding-left:40px;
}
.Header3{
font-size:36px;
color:#ffffffff;
font-weight:700;
margin-top:120px;
margin-block-start:0;
margin-block-end: 0;
width:500px;
letter-spacing:0.8px;
}
.Header4{
color:#fff;
font-size:21px;
position:relative;
top:69px;
margin-left:2px;
font-weight:500;
margin-bottom:11px;
}
.Header5{
position:relative;
top:40px;
left:15px;
margin-block-start:0;
margin-block-end: 0;
padding-inline-start:0;
width:730px;
}
@media(max-width:430px){
.Header3{
width:auto;
}
}





