.Header{
  background-image:  linear-gradient(
 80deg,
rgb(23, 92, 211),
rgb(30, 28, 73) 40%,
rgb(32, 32, 68) 65%,
 rgb(0, 0, 0)
)
}

.Header1{
height:650px;
margin-bottom:0;
position:sticky;
top:0;
width:100%;
}
.Header1{
display:flex;
}
@media(max-width:730px){
  .Header1{
  flex-wrap:wrap;
  height:1150px;
  }
.Header2{
position:relative;
bottom:80px;
right:17px;
}
.Sign
  body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  width:100%;
  overflow-x:hidden;
  }
  .Header{
    margin:0;
    padding:0;
    box-sizing:border-box;
    width:100%;
    overflow-x:hidden;
  }
}
.Header2{
width:800px;
margin-right:10px;
}
.Header3{
font-size:38px;
color:#fff;
padding-left:38px;
font-weight:700;
margin-top:120px;
position:relative;
top:17px;
left:10px;
}
.Header4{
color:#fff;
font-size:19px;
margin-bottom:10px;
margin-left:5px;
font-weight:500;
}
body{
background-color:white;
}
.Header5{
position:relative;
top:16px;
left:10px;
}