.Nav-image{
height:36px;
position:relative;
left:8px; 
top:10px;
}
@media(max-width:430px){
 .Nav-image{
  margin-left:3px;
 } 
}
.Navbar{
display:flex;
background-color:#090821;
height:60px;
margin-bottom:0;
}

body {
  all: revert; /* Reverts to the browser's default styles */
}


.Navbar_Main{
  position:sticky;
  top:0;
  z-index:10;
}

body{
overflow-x:hidden;
}

.Navbar_button{
display:flex;
align-items:center;
justify-content:space-between;
width:1500px;
height:47px;
}
.Navbar_Heading{
color:rgb(233, 223, 223);
font-size:25px;
font-weight:500;
position:relative;
left:13px;
top:7px;
}
@media(max-width:430px){
.Navbar_Heading{
color:#fff;
font-size:21px;
font-weight:500;
margin-bottom:18px;
}
}
.Button{
  background-color:#06f; 
  height:3rem;
  width:5rem;
  color:white;
  border-radius:15px; 
  font-size:15px;
  position:relative;
  right:57px;
  top:5px;
  border:none;
  box-sizing:border-box;
}
@media(max-width:430px){
.Button{
width:70px;
height:38px;
position:relative;
left:-20%;
font-size:14px;
}
}
.Button1{
    background-color:#06f; 
    height:3rem;
    width:5rem;
    color:white;
    border-radius:12px; 
    font-size:15px;
    position:relative;
    right:42px;
    top:5px;
    border:none;
  }
  @media(max-width:430px){
    .Button1{
    width:70px;
    height:38px;
    position:relative;
    left:-10%;
    font-size:14px;
    }
  }


html,body{
  width:100%;
  overflow-x:hidden;
}





