.Nav-image{
height:39px;
position:relative;
left:8px; 
top:10px;
}
@media(max-width:430px){
 .Nav-image{
  height:30px;
  position:relative;
  top:15px;
  right:30px;
 } 
}
.Navbar{
display:flex;
background-color:#090821;
height:60px;
margin-bottom:0;
}


body {
  all: revert; /* Reverts to the browser's default styles */
}
.Navbar_Main{

}




body{
overflow-x:hidden;
}

.Navbar_button{
display:flex;
align-items:center;
justify-content:space-between;
width:1500px;
height:47px;
}
.Navbar_Heading{
color:rgb(233, 223, 223);
font-size:28px;
font-weight:700;
position:relative;
left:13px;
top:7px;
margin-block-start:0;
margin-block-end: 0;
}
@media(max-width:430px){
.Navbar_Heading{
color:#fff;
font-size:21px;
font-weight:500;
}
}
.Button{
  background-color:#06f; 
  height:40px;
  width:77px;
  color:white;
  border-radius:10px; 
  border:none;
  box-sizing:border-box;
  position:relative;
  right:60px;
  top:5px;
  font-size:14px;
}
@media(max-width:430px){
.Button{
width:70px;
height:35px;
position:relative;
left:-20%;
font-size:14px;
}
}
.Button1{
background-color:#06f; 
height:40px;
width:77px;
color:white;
border-radius:10px; 
font-size:14px;
position:relative;
right:42px;
top:5px;
border:none;
}
@media(max-width:430px){
.Button1{
width:70px;
height:35px;
position:relative;
left:-10%;
font-size:14px;
}
}


html,body{
  width:100%;
  overflow-x:hidden;
}





