.Nav-image{
height:36px;
position:relative;
left:8px; 
top:10px;
}
.Navbar{
display:flex;
background-color:#090821;
height:60px;
margin-bottom:0;
}
@media(max-width:310px){
  .Navbar{
   width:100%;
  }
}

@media(max-width:380px){
 .Navbar_Heading{
  width:160px;
 }
 body {
  font-size: 14px;
}

}
@media(max-width:435px){
.Button{
  margin-left:30%;
  margin-top:70%;
}
.Button1{
  margin-left:80%;
  margin-bottom:90%;
}
.Navbar_button{
display:block;
}
}



.Navbar_Main{
  position:sticky;
  top:0;
  z-index:10;
}

body{
overflow-x:hidden;
}

.Navbar_button{
display:flex;
align-items:center;
justify-content:space-between;
width:1500px;
height:47px;
}
.Navbar_Heading{
color:rgb(233, 223, 223);
font-size:25px;
font-weight:500;
position:relative;
left:13px;
top:7px;
}
.Button{
  background-color:#06f; 
  height:3rem;
  width:5rem;
  color:white;
  border-radius:15px; 
  font-size:15px;
  position:relative;
  right:57px;
  top:5px;
  border:none;
  box-sizing:border-box;

}
.Button1{
    background-color:#06f; 
    height:3rem;
    width:5rem;
    color:white;
    border-radius:12px; 
    font-size:15px;
    position:relative;
    right:42px;
    top:5px;
    border:none;
  }

html,body{
  width:100%;
  overflow-x:hidden;
}





