.Python{
    background-color:white;
    height:1750px;
    }
    .Python1{
    display:flex;
    background-color:#1d232a;
    padding-left:70px;
    }
    .Python2{
    height:420px;
    width:550px;
    }
    .Python3{
    width:400px;
    position:relative;
    left:20px;
    }
    .Python5{
    height:390px;
    width:700px;  
    }
    .python-image{
    height:390px;
    width:630px;
    border-radius:15px;
    position:relative;
    top:15px;
    }
    .Python4{
    color:white;
    font-size:23px;
    width:350px;
    position:relative;
    left:20px;
    bottom:15px;
    font-weight:400;
    }
    .Python4_1{
    color:white;
    font-size:23px;
    width:350px;
    position:relative;
    left:20px;
    bottom:15px;
    font-weight:400;
    }
    .Python4_2{
    color:white;
    font-size:23px;
    width:350px;
    position:relative;
    left:20px;
    bottom:30px;
    font-weight:400;
    }    
    .Python4_3{
    color:white;
    font-size:23px;
    width:400px;
    position:relative;
    left:20px;
    bottom:45px;
    font-weight:400;
     }  
    .Python4_4{
     color:white;
     font-size:23px;
     width:400px;
     position:relative;
    left:20px;
    bottom:60px;
    font-weight:400;
    }        
    .Python_4{
    color:white;
    font-size:23px;
    width:350px;
    position:relative;
    left:20px;
    font-weight:400;
    }
    .Python3{
    color:white;
    }
    #course_price{
    color:#c7c7c7;
    width:400px;
    font-size:21px;
    position:relative;
    bottom:70px;
    left:30px;
    }
    .course_button{
        width:430px;
        height:43px;
        color:white;
        background-color:#225d91;
        border-radius:10px;
        font-size:15px;
        position:relative;
        bottom:50px;
        left:17px;  
        border:none;
        color:black;
        font-weight:300;
        position:relative;
        
    }