.Service{
background-color:black;
color:white;
height:670px;
margin-bottom:0;
margin-top: 0;
padding-top: 0;
padding:0;
}
body, .content-wrapper, .main-container {
    margin: 0;
    padding: 0;
}
.Service10{
margin-top:0;
margin-bottom:0;
}
.Service3{
display:flex;
position:relative;
left:45px;
}
.Service4{
border:2px solid white;
height:540px;
width:372px;
background-color:#191919;
border:2px solid #191919;
border-radius:15px;
margin-left:30px;
}
.image_Service{
height:225px;
width:340px;
border-radius:20px;
padding-left:10px;
margin-top:10px;
margin-left:3px;
}
.Service5{
border:2px solid black;
font-weight:500;
font-size:14px;
height:25px;
border-radius:10px;
width:60px;
background-color:#403f3f;
margin:3px;
color:#ffff;
padding-left:10px;
padding-top:3px;
position:relative;
bottom:33px;
left:5px;
}

.Service8{
border:2px solid black;
font-weight:500;
font-size:14px;
position:relative;
bottom:30px;
height:26px;
border-radius:10px;
width:130px;
color:#fff;
background-color:#403f3f;
position:relative;
bottom:50px;
left:12px;
padding-left:8px;
padding-top:6px;
    }
.Service_Heading{
color:#d1cece;
padding-left:17px;
position:relative;
bottom:6px;
font-weight:700;
}
.Service_para{
color:#d1cece;
position:relative;
left:15px;
width:330px;
font-size:14px;
bottom:20px;
font-weight:700;
}
.Service6{
display:flex;
}
.Enroll{
width:330px;
height:40px;
color:white;
background-color:#403f3f;
border:2px solid black;
border-radius:10px;
font-size:17px;
position:relative;
bottom:30px;
left:8px;
}
.Service_Upper_Heading{
text-align:center;
}
body {
    overflow-x: hidden;
}