.Service{
background-color:black;
color:white;
height:680px;
position:sticky;
top:20px;
}
@media(max-width:430px){
.Service{
height:1900px;
}
}

.Service10{
margin-top:0;
margin-bottom:0;
margin-block-start:0;
margin-block-end: 0;
}
.Service3{
display:flex;
position:relative;
left:45px;
top:38px;
}
@media(max-width:430px){
.Service3{
  flex-wrap:wrap;
  margin:0;
  padding:0;
}

}
.Service4{
border:2px solid white;
height:540px;
width:372px;
background-color:#191919;
border:2px solid #191919;
border-radius:15px;
margin-left:30px;
}
@media(max-width:430px){
.Service4{
position:relative;
right:60px;
margin-bottom:20px;
}
}

.image_Service{
height:225px;
width:340px;
border-radius:20px;
padding-left:10px;
margin-top:10px;
margin-left:3px;
}
.Service5{
border:2px solid black;
font-weight:500;
font-size:15px;
height:25px;
border-radius:10px;
width:60px;
background-color:#403f3f;
margin:3px;
color:#ffff;
padding-left:13px;
padding-top:7px;
position:relative;
top:60px;
left:5px;
margin-block-start:0;
margin-block-end: 0;
}

.Service8{
border:2px solid black;
font-weight:500;
font-size:14px;
position:relative;
bottom:30px;
height:26px;
border-radius:10px;
width:120px;
color:#fff;
background-color:#403f3f;
position:relative;
top:60px;
left:12px;
padding-left:15px;
padding-top:9px;
margin-block-start:0;
margin-block-end: 0;
}
.Service_Heading{
color:#d1cece;
padding-left:17px;
position:relative;
top:22px;
font-weight:700;
margin-block-start:0;
margin-block-end: 0;
}
@media(max-width:430px){
.Service_Heading{
gap:0;
}
}
.Service_para{
color:#d1cece;
position:relative;
left:15px;
width:330px;
font-size:15px;
top:40px;
font-weight:700;
margin-block-start:0;
margin-block-end: 0;
}
.Service6{
display:flex;
}
.Enroll{
width:330px;
height:40px;
color:white;
background-color:#403f3f;
border:2px solid black;
border-radius:10px;
font-size:17px;
position:relative;
top:110px;
left:8px;
}
.Service_Upper_Heading{
text-align:center;
margin-block-start:0;
margin-block-end: 0;
}
h3{
  margin-block-start:0;
margin-block-end: 0;
}
.Service15{
font-size:21px;
position:relative;
top:18px;
}